.button-dates {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  padding: 0;
  margin-right: 10px;
}

.button-dates img {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}

.date-text {
  margin-left: 10px;
  font-size: 24px;
}
